/*Author:*/


/*00-*/
/*01-*/
/*02-*/
/*00*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*01*/
body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}
.fa-bars{
    font-size: 25px;
}
.padding-1{
    padding: 20px;
}
/*02*/
header nav {
    height: 48px;
    /* rimuovi border bottom*/
    border-bottom:1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Dropbox{
    font-size: 25px;
}
nav .logo .icon{
    width: 48px;
    height: 48px;
    background-color: #0061FE;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo .icon i{
    font-size: 30px;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .titoli .elenco:hover{
    background-color:whitesmoke;
    border: 13px solid whitesmoke;
}
.elenco{
    transition: 1s ease;
}
.vendite:hover{
    background-color: whitesmoke;
    border: 13px solid whitesmoke;
}
.vendite{
    transition: 1s ease;
}
.scarica{
    transition: 1s ease;
}
.scarica:hover{
    background-color: whitesmoke;
    border: 13px solid whitesmoke;
}
.elenco2{
    transition: 1s ease;
}
.elenco2:hover{
    background-color: whitesmoke;
    border: 13px solid whitesmoke;
    
}
.fa-arrow-right{
    transition: 0.3s ease-in-out;
}
.freccia:hover .fa-arrow-right{
    padding-left: 10px;
}
nav .titoli {
    display: flex;
    align-items: center;
}
nav .titoli ul{
    display: flex;
    align-items: center;
}
nav .menu ul{
    display: flex;
    align-items: center;
}
nav .titoli ul li{
    list-style: none;
    margin: 0 15px;
}
nav .titoli ul li a {
    text-decoration: none;
    color: black;
}
nav .menu ul li{
    list-style: none;
    margin: 0 15px;
}
nav .menu ul li a {
    text-decoration: none;
    color: black;
}
nav .menu ul li .comincia{
    width:180px;
    height:43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3984FF;
    font-weight: bold;
    color: white;
}
nav .menu ul .bars {
    display: none;
}
.fa-arrow-right{
    transition: 0.3s ease-in-out;
}
.cta-1:hover .fa-arrow-right{
    padding-left: 10px;
}
.fa-arrow-right{
    transition: 0.3s ease-in-out;
}
.cta-2:hover .fa-arrow-right{
    padding-left: 10px;
}

    
/*03*/
.jumbo{
    background-color: #1e1919;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jumbo .txt {
    background-color: #2B2929;
    display: flex;
    flex-direction: column;
}
.jumbo .txt h1{
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 10px;
}
.jumbo .txt p{
    font-size: 16px;
    margin-bottom: 20px;
}
.jumbo .txt .cta-1{
    width:200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3984FF;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}
.jumbo .txt .cta-1 i{
    margin-left: 10px;
}
.jumbo .txt .cta-2 {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}
.jumbo .txt .cta-2 i {
    margin-left: 10px;
}
.video {
    padding: 48px;
   }
.video video{
   width: 100%;
   }
/*04*/
.sotto-video{
    background-color:antiquewhite;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}
.sotto-video h1{
    font-size: 35px;
}
.sotto-video p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sotto-video a{
    text-decoration: underline;
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.fa-arrow-right{
    transition: 0.3s ease-in-out;
}
.sotto-video a:hover .fa-arrow-right{
    padding-left: 10px;
}
/*05*/
.type-radio{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding-left: 170px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom:40px;
}

/*xx-Media Query*/

@media screen and (min-width: 1000px) {

    .jumbo {
        flex-direction: row;
    }
}
/* Media query della nav*/
@media screen and (max-width:1200px){
    .vendite{
        display: none;
    }
    .scarica{
        display: none;
    }
    nav .menu ul .bars{
        display:block;
    }
    .elenco{
        display:none;
    }
}
@media screen and (max-width:600px){
    nav .menu ul .freccia{
        display:none;
    }
}